<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>暨南大学网络技术研讨会——数据显示</title>
    <link rel="shortcut icon" href="http://ovo9m1uaz.bkt.clouddn.com/favicon.ico"/>
    <link rel="bookmark" href="http://ovo9m1uaz.bkt.clouddn.com/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="static/css/comment.css" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav>
    <img src="http://ovo9m1uaz.bkt.clouddn.com/home1.png" />
    <ul id="list">
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span><span>登录</span></a></li>
        <li><a href="/enrol"><span class="glyphicon glyphicon-send"></span><span>预报名</span></a></li>
        <li><a href="/mascot"><span class="glyphicon glyphicon-heart"></span><span>我暨&我南</span></a></li>
        <li><a href="/join_us"><span class="glyphicon glyphicon-plus"></span><span>加入我们</span></a></li>
        <li><a href="/we_are"><span class="glyphicon glyphicon-bookmark"></span><span>我们是</span></a></li>
        <li><a href="/"><span class="glyphicon glyphicon-home"></span><span>主页</span></a></li>
    </ul>
    <!--菜单栏按钮-->
    <button id="list-btn" class="btn btn-default visible-xs"><span class="glyphicon glyphicon-align-justify"></span></button>
</nav>
<!--此处任意内容-->
<table class="table table-condensed table-responsive">
    <caption>数据输出：</caption>
    <thead>
    <tr>
        <th>time</th>
        <th>gender</th>
        <th>question</th>
        <th>answer</th>
        <th>option</th>
        <th>wechat</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr>-->
        <!--<td>vinson</td>-->
        <!--<td>abcdefg@.com</td>-->
        <!--<td>123456789</td>-->
        <!--<td>20180102</td>-->
        <!--<td>大一</td>-->
        <!--<td>运营部</td>-->
        <!--<td>蓝翔学院挖掘机学</td>-->
        <!--<td>2017-9-14 12:00:00</td>-->
        <!--<td>省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略省略</td>-->
    <!--</tr>-->
    </tbody>
</table>


<!--脚部-->
<footer>
    <span>Copyright © 暨南大学网络技术研讨会 2016-2017.</span>
</footer>

<!--回滚按钮-->
<div class="slideToTop"><span class="glyphicon glyphicon-chevron-up"></span></div>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/javascript/comment.js" ></script>
<script src="static/javascript/data_show.js" ></script>
<script src="static/javascript/jquery.cookie.js" ></script>
</body>
</html>