<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>暨南大学网络技术研讨会——加入我们</title>
    <link rel="shortcut icon" href="http://ovo9m1uaz.bkt.clouddn.com/favicon.ico"/>
    <link rel="bookmark" href="http://ovo9m1uaz.bkt.clouddn.com/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="static/css/comment.css" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/join_us.css" />
</head>
<body>

<nav>
    <img src="http://ovo9m1uaz.bkt.clouddn.com/home1.png" />
    <ul id="list">
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span><span>登录</span></a></li>
        <li><a href="/enrol"><span class="glyphicon glyphicon-send"></span><span>预报名</span></a></li>
        <li><a href="/mascot"><span class="glyphicon glyphicon-heart"></span><span>我暨&我南</span></a></li>
        <li><a href="/join_us"><span class="glyphicon glyphicon-plus"></span><span>加入我们</span></a></li>
        <li><a href="/we_are"><span class="glyphicon glyphicon-bookmark"></span><span>我们是</span></a></li>
        <li><a href="/"><span class="glyphicon glyphicon-home"></span><span>主页</span></a></li>
    </ul>
    <!--菜单栏按钮-->
    <button id="list-btn" class="btn btn-default visible-xs"><span class="glyphicon glyphicon-align-justify"></span></button>
</nav>

<!--组介绍-->
<section id="group-intro">
    <div class="title">各组介绍</div>
    <div class="pic">
        <div class="img">
            <h1>运营组</h1>
            <span class="intro">
                <span class="strong">#基础学习：</span><br/>用户分析，Photoshop，社群管理，产品及活动策划<br/>
                <span class="strong">#深入学习：</span><br/>新媒体运营，数据分析，品牌推广，产品经理指导
            </span>
        </div>
        <div class="img">
            <h1>媒宣组</h1>
            <span class="intro">
                <span class="strong">#基础学习：</span><br/>PHOTOSHOP（图像处理软件）海报，网页UI<br/>
                <span class="strong">#深入学习：</span><br/>PREMIERE（视频编辑软件）AFTER EFFECTS（视频合成及特效制作件）
            </span>
        </div>
        <div class="img">
            <h1>技术组</h1>
            <span class="intro">
                <span class="strong">#基础学习：</span><br/>HTML，CSS，JavaScript，Python，php<br/>
                <span class="strong">#深入学习：</span><br/>Web方向的Bootstrap，jQuery，后台的Flask和系列插件，关系数据库或者NoSQL
有兴趣的也可以来试试机器学习入门和量化交易
            </span>
        </div>
        <div class="img">
            <h1>游戏组</h1>
            <span class="intro">
                <span class="strong">#基础学习：</span><br/>c++和c#入门基础，游戏设计思想基础。从最基本的字符游戏：“坦克大战”，“贪吃蛇”等…到Unreal Engine 4 ，Unity ，Cocos2dx等游戏引擎的使用。
                <img class="small" src="http://ovo9m1uaz.bkt.clouddn.com/steam.jpg" />
                <img class="small" src="http://ovo9m1uaz.bkt.clouddn.com/game2.png" /><br/>
                <span class="strong">#深入学习：</span><br/>图形学，D3D和OpenGL渲染，输入管理，游戏逻辑的制作，关卡和场景的设计，游戏世界观和设点的设计。
                <img class="small" src="http://ovo9m1uaz.bkt.clouddn.com/game3.png" />
                <img class="small" src="http://ovo9m1uaz.bkt.clouddn.com/game4.png" />
            </span>
        </div>
    </div>
</section>

<!--全体导师-->
<section id="all-teachers">
    <div class="title">全体导师</div>
    <div class="intro">
        <div>
            <h3>运营组</h3>
            <ul>
                <li>-石婷</li>
                <li>-刘欣</li>
                <li>-李泽茗</li>
                <li>-黄海颖</li>
                <li>-闫宇飞</li>
                <li>-张惠芳</li>
                <li>-李雅轩</li>
                <li>-黄天晟</li>
            </ul>
        </div>
        <div>
            <h3>媒宣组</h3>
            <ul>
                <li>-雷名洋</li>
                <li>-宗向昕</li>
                <li>-黄文婷</li>
            </ul>
        </div>
        <div>
            <h3>技术组</h3>
            <ul>
                <li>-何智刚(python)</li>
                <li>-杨永盛(javascript)</li>
                <li>-黄天晟(php)</li>
            </ul>
        </div>
        <div>
            <h3>游戏组</h3>
            <ul>
                <li>-黄宇沛</li>
                <li>-刘思海</li>
                <li>-林宇健</li>
                <li>-王寅峰</li>
            </ul>
        </div>
    </div>
</section>

<!--成员介绍-->
<section id="member-intro">
    <div class="title">成员介绍</div>
    <div class="content">
        <div>
            <img src="http://ovo9m1uaz.bkt.clouddn.com/CEO.jpg" />
            <div class="intro">
                <div>
                    <div class="placeholder"></div>
                    <h3>CEO 黄宇沛</h3>
                    <p>从小时候单纯的玩游戏，<br/>
                        初中的游戏内存作弊，研究游戏文件，<br/>
                        高中架设私服，平衡职业dps<br/>
                        最近在折腾虚幻4引擎和游戏设计<br/>
                        希望大家在网研里可以做出心中理想的游戏<br/>
                        让人们抵达那片只存在你心中的理想世界<br/>
                        让人们感受你脑海中的故事
                    </p>
                </div>
            </div>
        </div>
        <div>
            <img src="http://ovo9m1uaz.bkt.clouddn.com/CTO.jpg" />
            <div class="intro">
                <div>
                    <div class="placeholder"></div>
                    <h3>CTO 何智刚</h3>
                    <p>肤浅的Linux使用经验，<br/>
                        写Python为主，有需要也会写前端，<br/>
                        接触过软件定义网络（SDN）和云计算，<br/>
                        两次组队参加比赛（一次创新创业和一次统计建模）的经验，有强烈进取心想搞点成果的可以找我<br/>
                        实用主义，<br/>
                        目前以Data Science和金融为主要方向，<br/>
                        发掘人才是我的爱好<br/>
                        也希望能为新人们提供指导意见
                    </p>
                </div>
            </div>
        </div>
        <div>
            <img src="http://ovo9m1uaz.bkt.clouddn.com/COO.jpg" />
            <div class="intro">
                <div>
                    <div class="placeholder"></div>
                    <h3>COO 刘欣</h3>
                    <p>16级计算机科学与技术专业（可以假装不是吗……）<br/>
                        无专长没兴趣职业送人头。<br/>
                        典型双鱼座+非典型处女座。<br/>
                        易怒贫血伪文青。<br/>
                        愿望是当黑社会老大的女人。<br/>
                        性格极好超喜欢可爱的小师妹。<br/>
                        听说眼睛小的女孩运气都不会差hhh
                    </p>
                </div>
            </div>
        </div>
        <div>
            <img src="http://ovo9m1uaz.bkt.clouddn.com/CBO.jpg" />
            <div class="intro">
                <div>
                    <div class="placeholder"></div>
                    <h3>CBO 石婷</h3>
                    <p>16级药学，一个活在当下的理想主义者。<br/>
                        虽然是计算机白痴，但是混迹在一群大佬中就会感觉自己很厉害！<br/>
                        在暨妹妹遇见了很多有趣的灵魂，接下来也一起走吧~
                    </p>
                </div>
            </div>
        </div>
        <div class="fix1"></div>
        <div>
            <img src="http://ovo9m1uaz.bkt.clouddn.com/CMO.jpg" />
            <div class="intro">
                <div>
                    <div class="placeholder"></div>
                    <h3>CMO 李泽茗</h3>
                    <p>16国院CPA<br/>
                        网研的CMO<br/>
                        主要负责策划方面的处理<br/>
                        位于网研的运营组<br/>
                        为人和善<br/>
                        性格随和<br/>
                        待人友善<br/>
                        乐于助人
                    </p>
                </div>
            </div>
        </div>
        <div>
            <img src="http://ovo9m1uaz.bkt.clouddn.com/CFO.jpg" />
            <div class="intro">
                <div>
                    <div class="placeholder"></div>
                    <h3>CFO 闫宇飞</h3>
                    <p>我这人没什么优点，就是脸皮特别薄，特别传统，特别保守。<br/>
                        传统到至今单着，估计也是因为我保守，所以大家放心让我管钱。
                    </p>
                </div>
            </div>
        </div>
        <div>
            <img src="http://ovo9m1uaz.bkt.clouddn.com/CHO.jpg" />
            <div class="intro">
                <div>
                    <div class="placeholder"></div>
                    <h3>CHO 黄海颖</h3>
                    <p>这是一个有严重拖延症而且对自己年龄自我感觉良好的宝宝，热衷于去尝试各种新事物以及向往极限运动却从来没有成功过。<br/>
                        虽然看起来挺不靠谱的，不过一旦做起事情来还是很努力的想去做到自己的最好。
                    </p>
                </div>
            </div>
        </div>
        <div>
            <img src="http://ovo9m1uaz.bkt.clouddn.com/CDO.jpg" />
            <div class="intro">
                <div>
                    <div class="placeholder"></div>
                    <h3>CDO 雷名洋</h3>
                    <p>能文能武，亦柔亦刚<br/>
                        纵横式参与暨大各类部门，活动~<br/>
                        喜欢尝试新鲜的事物，好奇又传统，浪漫又理性<br/>
                        以及媒宣组最不会PS的导师，<br/>
                        高颜值的你，一定要来媒宣组，学最帅的PS，做最酷的海报! 我们带你飞
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--成员介绍end-->
</section>

<!--品牌活动-->
<section id="fesvital">
    <div class="title">品牌活动</div>
    <div class="intro">
        定期举办的“技术分享沙龙”<br/>每年四月份与珠海联合举办的“暨妹妹粉丝节”<br/>部门出游（内部消化的好时机）<br/>广州珠海联谊（一不小心就异地了呢好好勾搭）
    </div>
</section>

<!--按钮-->
<section id="btn">
    <a href="/enrol"><button>预报名</button></a>
</section>

<!--脚部-->
<footer>
    <span>Copyright © 暨南大学网络技术研讨会 2016-2017.</span>
</footer>

<!--回滚按钮-->
<div class="slideToTop"><span class="glyphicon glyphicon-chevron-up"></span></div>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/javascript/join_us.js" ></script>
</body>
</html>