<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>暨南大学网络技术研讨会——我们是</title>
    <link rel="shortcut icon" href="http://ovo9m1uaz.bkt.clouddn.com/favicon.ico"/>
    <link rel="bookmark" href="http://ovo9m1uaz.bkt.clouddn.com/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/static/css/comment.css" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/we_are.css" />
</head>
<body>

<nav>
    <img src="http://ovo9m1uaz.bkt.clouddn.com/home1.png" />
    <ul id="list">
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span><span>登录</span></a></li>
        <li><a href="/enrol"><span class="glyphicon glyphicon-send"></span><span>预报名</span></a></li>
        <li><a href="/mascot"><span class="glyphicon glyphicon-heart"></span><span>我暨&我南</span></a></li>
        <li><a href="/join_us"><span class="glyphicon glyphicon-plus"></span><span>加入我们</span></a></li>
        <li><a href="/we_are"><span class="glyphicon glyphicon-bookmark"></span><span>我们是</span></a></li>
        <li><a href="/"><span class="glyphicon glyphicon-home"></span><span>主页</span></a></li>
    </ul>
    <!--菜单栏按钮-->
    <button id="list-btn" class="btn btn-default visible-xs"><span class="glyphicon glyphicon-align-justify"></span></button>
</nav>
<!--此处任意内容-->

<div id="content">
    <div>
        <img src="http://ovo9m1uaz.bkt.clouddn.com/we_are1.jpg" />
    </div>
    <p>	暨南大学网络技术研讨会，是暨南大学众多社团之一，致力于互联网应用开发、平面交互设计、市场运营策划和网络管理运营，是一个以互联网发展和信息交换平台为核心、学习兴趣和工作氛围并重、服务暨南学子、共享信息知识的社团平台。</p>
    <p>暨妹妹&南同学的成长，见证着各位技术人员的进步：</p>
    <blockquote>
        2010年1月25日
        <blockquote>
            新浪微博@暨南大学暨南人网发布第一条微博<br />
            宣告暨妹妹平台的成立<br />
            从零开始慢慢建立成了今天拥有三万多粉丝的平台
        </blockquote>
        2014年11月6日
        <blockquote>
            腾讯微信公众号 暨妹妹（ID：jnujmm）发布第一条推送<br />
            暨妹妹多了一种方式陪伴着暨南学子
        </blockquote>
        2015年12月25日
        <blockquote>
            腾讯微信公众号 南同学（ID：jnumate）发布第一条推送<br />
            南同学与暨妹妹相遇，在南国的那片土地跟大家相见。
        </blockquote>
    </blockquote>
    <p>我们希望这样一个平台，能够带你接触最炫的技术，了解互联网过去疯狂的历史，体会代码世界的无穷魅力，触摸现今互联网的大事件，让你成为互联网真正的一员。</p>
    <p>	我们希望这样一个平台，能够带你做最酷的策划，亲身参与互联网产品的开发测试，运营，维护；陪你做最好的推送，发掘学院身边有趣的事情，重视身边每个人小小的倾吐，让你成为一个有趣的人。</p>
    <p>我们希望这样一个平台，能够带你做优秀的UI，能够带你遍历Adobe全家桶。单调的多边形如何拼凑出优美的图形，颜色之间的碰撞究竟会摩擦出怎么样的思维火花。感受美的体验，成为浪漫的人。</p>
    <p>我们希望这样一个平台，能够带你做满意的游戏。这个地方的人不乏爱玩的，而且不乏玩的创意。如果你有做游戏的热情，那真是太棒了，这个社团很欢迎你。打折剁手，一路同行，前行道路，你不会孤单。</p>
    <br />
    <p>一个世界中有你，一个世界中没有你，让两者的DIFFERENCE最大，这就是你一生的意义。</p>
    <p>
        二零一七年八月二十七日<br />
        暨南大学网络技术研讨会
    </p>
</div>

<!--脚部-->
<footer>
    <span>Copyright © 暨南大学网络技术研讨会 2016-2017.</span>
</footer>

<!--回滚按钮-->
<div class="slideToTop"><span class="glyphicon glyphicon-chevron-up"></span></div>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/javascript/comment.js" ></script>
</body>
</html>